html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Sono', sans-serif;
}

body {
    display: flex;
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: white;
    height: 100%;
    padding:  0px 60px;
    margin-right: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

main {
    margin-top: 15%;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration:underline #800080;
}

ul, ol {
    font-size: 2rem;
    list-style: none;
}

p {
    font-size: 1.6rem;
}

.title {
    color: #800080;
}

.menu {
    margin-left: auto;
    margin-right: auto;
}

.menu li{
    margin-top: 20px;
}

.contact a{
    color: #800080;
    margin-right: 20px;
}

.contact img {
    width: 16px;
}



.icon {
    display: flex;
    width: 20vw;
    justify-content: space-between;
}

.icon img {
    width: 50px;
}

.profile {
    border-radius: 100%; 
    border: 5px solid black;
    width: 250px;   
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.profile img{
    border-radius: 100%;    
    width: 100%;     
}

.description {
    margin: 70px 50px 70px 0;
    text-align: justify;
}

.knowledge-list li {
    margin: 30px 0;
    font-size: 3rem;
}

.knowledge-list img {
    width: 50px;
    margin: 0 5px -10px 0 ;
}

.knowledge-list {
    margin: 0 40px;
}

.objective-list li{
    margin: 30px 0;
    font-size: 3rem;
}