* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

body {
    display: flex;
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: white;
    height: 100%;
    padding:  0px 40px;
    margin-right: 50px;
    text-align: center;
}

main {
    margin-top: 270px;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    font-size: 20px;
    list-style: none;
}

p {
    font-size: 16px;
}

.titulo {
    color: #800080;
}

.meio {
    position: relative;             
     top: 25%; 
}

.menu li{
    margin-top: 20px;
}

.contato a{
    color: #800080;
    margin-right: 20px;
}

.contato img {
    width: 16px;
}



.icones {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.icones img {
    width: 50px;
}

.perfil {
    border-radius: 100%; 
    border: 5px solid black;
    width: 200px;   
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.perfil img{
    border-radius: 100%;    
    width: 100%;     
}

.descricao {
    margin: 70px 50px 70px 0;
    text-align: justify;
}

.lista-conhecimentos li {
    margin: 30px 0;
    list-style: lower-latin;
    font-size: 30px;
}

.lista-conhecimentos img {
    width: 50px;
    margin: 0 5px -10px 0 ;
}

.lista-conhecimentos {
    margin: 0 40px;
}

.lista-objetivos li{
    list-style: circle;
    margin: 30px 0;
    font-size: 30px;
}